body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

#map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #7fbf7b;
}

#web-title {
  position: absolute;
  left: 0px;
  width: 400px;
  top: 0;
  height: 100px;
  padding: 20px;
  font-family: 'open sans';
  font-size: 30px;
  font-weight: bold;
  background-color: #af8dc3;
  color:#f7f7f7;
}

#web-explanation {
  position: absolute;
  left: 0px;
  width: 400px;
  bottom:0;
  height: 50px;
  padding: 20px;
  font-family: 'open sans';
  font-size: 20px;
  font-weight: normal;
  color:#f7f7f7;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
